<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Kilogram</title>
        <link rel="shortcut icon" href="https://icon-icons.com/icons2/1239/PNG/32/weight_83953.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
        <link href="{{ staticPath }}css/input-moment.css" rel="stylesheet">
    </head>
    <body>
        <div id="root"></div>
        <script src="{{ staticPath }}index.bundle.js"></script>
        <script src="{{ staticPath }}vendor.bundle.js"></script>
    </body>
</html>
