.Wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr 1fr;
    grid-template-areas: 'p n d'
    'p m m';

    align-items: center;

    padding: 12px 16px;

    width: 100%;

    font-size: 14px;

    box-sizing: border-box;
}

.Photo {
    grid-area: p;

    width: 54px;
    height: 54px;

    border-radius: 50%;
}

.Name {
    grid-area: n;

    margin: 0 0 0 16px;
    font-weight: 600;
}

.Button {
    text-align: center;
    grid-area: m;
}

.Button > input {
    padding: 5px 10px;
    background: aqua;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
}

.Wrapper:hover {
    background: #104fd7;
    cursor: pointer;
}

.Wrapper:hover,
.Wrapper:hover > .LastMessage {
    color: #fffffa;
}

.Wrapper:hover > .UnreadCount {
    background-color:#fffffa;
    color: #104fd7;
}