.Wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    width: 100%;

    padding: 12px 16px;

    background: #fffffa;

    box-shadow: 0 0 12px #00000034;
    box-sizing: border-box;
}

.BackButton {
    display: none;
    
    margin: 0 16px 0 0;

    width: 24px;
    height: 24px;

    background: transparent;
    border: none;
    /* background: url('back.svg'); */
}

.BackButton:hover {
    outline: none;
}

.Photo {    
    width: 43px;
    height: 43px;

    border-radius: 50%;
}

.Info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    margin: 0 16px;

    font-size: 14px;
}

.Name {
    font-weight: 600;
}

.Status {
    color: #aaa;
}