.Wrapper,
.WrapperNight {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    padding: 13px 16px;
    background: #fffffa;
    box-shadow: 0 0 12px #00000034;
    box-sizing: border-box;

    border: thin dashed transparent;

}

.WrapperNight {
    background: #7f7979;
}

.BackButton,
.BackButtonNight {
    margin: 0;
    padding: 0;

    text-decoration: none;
    user-select: none;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: 0;
}

.BackButton i,
.BackButtonNight i {
    padding: 2px 8px 0 0;
    font-size: 22px;
    color: #aaa;
    cursor: pointer;
}

.BackButton:hover i,
.BackButtonNight:hover i  {
    color: #222;
}

.Info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    margin-left: 10px;
}

.Name {
    font-weight: 600;
    cursor: pointer;
}

.Name:hover {
    color: #aaa;
}

.Status {
    color: #aaa;
}

.Button {
    display: flex;

    margin: auto 16px 16px 0;
    padding: 0;

    color: #aaa;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: 0;
}

.Hidden {
    display: none;
}

.NameEditor {
    grid-area: n;
    display: none;
    /*display: flex;*/
    width: 100%;
}

.NameInput {
    width: 90%;
}