
.Upload
{
    display: none
}

.PreviewImg
{
    width: 100px;
    height: 100px;
    margin: 10px 10px;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 100px;
}

.Img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: flex-end;
    opacity: .9;
    border-radius: 4px;
}

.PreviewImg:hover > .Img
{
    opacity: 1;
}


.PreviewImgList
{
    display: flex;
    width: 100%;
}

.Button:active
{
    color: #03a9f4;
}

.Button
{
    display: flex;

    margin: auto 10px auto 10px;
    padding: 0;
    color: #757575;
    text-decoration: none;
    user-select: none;
    background: transparent;
    outline: none;
    border: 0;
    width: 2%;
}

.CloseButton
{
    position: absolute;
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 76px;
    margin-top: 3px;
    color: white;
    transform: scale(.9);
}
