.Contacts
{
    border-bottom: 4px solid white;
    background-color: white;
}

.Title
{
    padding: 18px;
    font-size: 15px;
    color: white;
    background-color:  #6dc0c8;
    margin: 0;
}

.Content
{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 400px;
}

::-webkit-scrollbar
{
    width: 4px;
}

::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#6dc0c8;
}