.Wrapper,
.WrapperNight
{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex-shrink: 2;
    padding: 16px;
    height: 100%;
    background: linear-gradient(#e6e9f0, #eef1f5);
    overflow-y: scroll;
    border: thin dashed transparent;
}

.WrapperNight
{
    background: linear-gradient(#1e1e24, #1e1e24c4);
}

.Supporter
{
    height: 100%;
}

.Dropzone,
.DropzoneNight
{
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex-shrink: 2;
    padding: 16px;
    height: 100%;
    overflow-y: hidden;
    cursor: pointer;
    border: thin dashed #b1aeae;
    background: #fcfcfc;
    opacity: .5;
    border-radius: 5px;
    box-sizing: border-box;
}

.DropzoneNight
{
    background: #807d7d;
    border: thin dashed #838181;
}
