.Wrapper,
.WrapperNight {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'a n d' 'a m c';

    align-items: center;

    padding: 12px 16px;

    width: 100%;

    font-size: 14px;

    box-sizing: border-box;
}

.Name {
    grid-area: n;

    margin: 0 8px 0 12px;
    font-weight: 600;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.LastMessage {
    grid-area: m;

    margin: 0 0 0 16px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.LastMessageDate {
    grid-area: d;

    justify-self: end;
}

.UnreadCount {
    grid-area: c;
    justify-self: end;

    padding: 1px 6.5px 1px 6.5px;

    background-color: #03a9f4;
    color: #fffffa;

    border-radius: 28px;
}

.Wrapper:hover {
    background: #e2e5e7;
    cursor: pointer;
}

.WrapperNight:hover
{
    background: rgb(112, 112, 112);
    cursor: pointer;
}

.Wrapper:hover > .UnreadCount {
    background-color: #fffffa;
}

.LastMessage p {
    margin: 0;
}