.Wrapper,
.WrapperNight {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    width: 270px;

    z-index: 1;
    background: #fffffa;
    box-shadow: 0 0 12px #00000034;
}

.WrapperNight
{
    background:rgb(112, 112, 112);
    color: white;
}

.BackButton {
    position: absolute;

    width: 24px;
    height: 24px;

    background: transparent;
    border: none;
}

.BackButton:hover {
    outline: none;
}

.Photo {
    width: 100%;
}

.Name {
    font-size: 20px;
    font-weight: 600;
}

.Info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    font-size: 14px;
}

.Status {
    margin: 0 0 16px;
    color: #aaa;
}

.ChangeAvatarButton {
    display: none;
}

.LoginHeader {
    color: #aaa;
}

/* Mobile */
@media screen and (max-width: 425px) {
    .Wrapper {
        width: 100%;
        height: 100%;
    }
}

.Loader,
.Loader:after {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    align-self: center;
}

.Loader {
    margin: 20px;
    position: relative;
    text-indent: -9999em;
    border: 4px solid rgba(119, 119, 119, 0.479);
    border-left-color: rgba(14, 13, 13, 0.479);
    transform: translateZ(0);
    animation: load 1.1s infinite linear;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}