.Wrapper,
.WrapperNight {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    width: 270px;

    z-index: 4;
    background: #fffffa;
    box-shadow: 0 0 12px #00000034;
}

.WrapperNight
{
    background: #7f7979;
    color: white;
}

.BackButton,
.BackButtonNight {
    position: absolute;

    top: 16px;
    right: 16px;

    width: 24px;
    height: 24px;

    background: transparent;
    border: none;
    color: #aaa;
}

.BackButton:hover {
    color: #222;
}

.Photo {
    width: 100%;
}

.Name
{
    font-size: 20px;
    font-weight: 600;
    width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 30px;
}

.Info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 16px;
    font-size: 14px;
}

.Status {
    margin: 0 0 16px;
    color: #aaa;
}

label
{
    cursor: pointer;
}

.ChangeAvatarButton {
    display: none;
}

.Link {
    display: flex;
    align-items: center;
}

.LinkInput {
    margin: 0 8px;
    width: 100%;
}
.CopyLinkButton {
    margin: auto;
    padding: 2px 0 0;
    cursor: pointer;
    color: #aaa;
    text-decoration: none;
    user-select: none;
    background: transparent;
    outline: none;
    border: 0;
}

.CopyLinkButton i {
    font-size: 16px;
}

.CopyLinkButton:hover i {
    color: #222;
}

.LoginHeader {
    color: #aaa;
}

/* Mobile */
@media screen and (max-width: 425px) {
    .Wrapper,
    .WrapperNight {
        width: 100vw;
        height: 100vh;
    }
}

.Loader,
.Loader:after {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    align-self: center;
}

.Loader {
    margin: 20px;
    position: relative;
    text-indent: -9999em;
    border: 4px solid rgba(119, 119, 119, 0.479);
    border-left-color: rgba(14, 13, 13, 0.479);
    transform: translateZ(0);
    animation: load 1.1s infinite linear;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.PopupContainer {
    height: 130px;
    display: flex;
}

.ErrorMessage {
    font-size: 22px;
    width: 100%;
    text-align: center;
    margin: auto;
    z-index: 1000;
}

.PopupClose {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 22px;
    cursor: pointer;
}
