.Wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    width: 270px;

    z-index: 1;
    box-shadow: 0 0 12px #00000034;
}

.BackButton {
    display: none;

    position: absolute;

    width: 24px;
    height: 24px;

    background: transparent;
    border: none;
}

.BackButton:hover {
    outline: none;
}

.Photo {
    width: 100%;
}

.Name {
    font-size: 20px;
    font-weight: 600;
}

.Info {
    padding: 16px;
    font-size: 14px;
}

.Status {
    margin: 0 0 16px;
    color: #aaa;
}

.LoginHeader {
    color: #aaa;
}

/* Tablet and Mobile */
@media screen and (max-width: 1023px) {
    .Wrapper {
        display: none;

        width: 100%;
    }
}