.Wrapper {
    margin: 8px 0;
    padding: 8px 12px;

    min-width: 150px;

    word-wrap:break-word;

    font-size: 14px;

    box-shadow: 0 0 8px #00000017;
}

.Name {
    font-weight: 600;
}

.Body p {
    margin: 0;
}

.Body code {
    font-family: 'IBM Plex Mono';

    color: #aaa;
}

.Time {
    display: block;

    text-align: right;

    color: #aaa;
}

.BottomIcon > i
{
    font-size: 14px;
}

.BottomIcon
{
    margin-left: 5px;
    display: inline-flex;
    vertical-align: middle;
}

.FromMe
{
    align-self: flex-end;
}

.FromMe .Wrapper {
    background: #e9fffb;
    border-radius: 8px 8px 0;
}

.FromSomeone {
    align-self: flex-start;
}

.FromSomeone .Wrapper {
    background: #fffffa;
    border-radius: 8px 8px 8px 0;
}

.FromMe .Time,
.FromMe .Body code {
    color: #489c8d;
}

.ImageWrapper
{
    display: flex;
    flex-wrap: wrap;
}

.Img
{
    height: 150px;
    object-fit: contain;
    margin: 0 -4px;
}

.Message:hover .MessageActions
{
    display: block;
}

.MessageActions
{
    display: none;
    height: 20px;
    border: 1px solid rgb(218, 218, 218);
    background: white;
    float: right;
    border-radius: 5px;
}

.MessageAction
{
    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
}

.MessageAction:hover
{
    background: rgb(210, 210, 210);
}

.MessageAction > i
{
    font-size: 20px;
}

.Reactions
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Reaction
{
    background: white;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    padding: 3px 5px;
    margin-right: 5px;
    cursor: pointer;
}

.Reaction > span:last-child
{
    margin-left: 3px;
}

/* Desktop */
@media screen and (min-width: 426px) {
    .Wrapper {
        max-width: 350px;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 425px) {
    .Wrapper {
        max-width: 250px;
    }
}

