.Wrapper {
    margin: 8px 0;
    padding: 8px 12px;

    min-width: 150px;

    word-wrap:break-word;

    font-size: 14px;

    box-shadow: 0 0 8px #00000017;
}

.Name {
    font-weight: 600;
}

.Body p {
    margin: 0;
}

.Body code {
    font-family: 'IBM Plex Mono', serif;

    color: #aaa;
}

.Time {
    display: block;

    text-align: right;

    color: rgb(218, 216, 216);
}

.BottomIcon > i
{
    font-size: 14px;
}

.BottomIcon
{
    margin-left: 5px;
    display: inline-flex;
    vertical-align: middle;
}

.FromMe,
.FromMeNight
{
    align-self: flex-end;
}

.FromMe .Wrapper {
    background: #e9fffb;
    border-radius: 8px 8px 0;
    color: black;
}

.FromMeNight .Wrapper {
    background: #a8a8a8;
    border-radius: 8px 8px 0;
    color: white;
}

.FromSomeone,
.FromSomeoneNight {
    align-self: flex-start;
}

.FromSomeone .Wrapper {
    background: #fffffa;
    border-radius: 8px 8px 8px 0;
    color: black;
}

.FromSomeoneNight .Wrapper {
    background: #bdbaba;
    border-radius: 8px 8px 8px 0;
    color: white;
}

.FromMe .Time,
.FromMe .Body code {
    color: #489c8d;
}

.ImageWrapper
{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.Img
{
    height: 150px;
    margin: 0 2px 4px;
}

.Message:hover .MessageActions
{
    visibility: visible;
}

.MessageActions
{
    visibility: hidden;
    height: 20px;
    border: 1px solid rgb(218, 218, 218);
    background: white;
    float: right;
    border-radius: 5px;
}

.MessageActions > div:last-child
{
    border: none;
}

.MessageAction
{
    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
    border-right: 1px solid rgb(218, 218, 218);
    padding: 0 5px;
}

.MessageAction:hover
{
    background: rgb(210, 210, 210);
}

.MessageAction > i
{
    font-size: 20px;
}

.Reactions
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Reaction
{
    background: white;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    padding: 3px 5px;
    margin-right: 5px;
    cursor: pointer;
}

.Reaction > span:last-child
{
    margin-left: 3px;
}

/* Desktop */
@media screen and (min-width: 426px) {
    .Wrapper {
        max-width: 350px;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 425px) {
    .Wrapper {
        max-width: 250px;
    }
}

.ImgContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #8080804f;
    left:0;
}

.ImgBig
{
    width: 100%;
    height: 100%;
}

.PopupContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.Photo {
    font-size: 22px;
    width: 100%;
    text-align: center;
}


.PopupNext
{
    opacity: .5;
    position: absolute;
    right: 1%;
    top: 50%;
    color: rgb(66, 65, 65);
    font-size: 22px;
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.356);
    padding: 5px 10px;
}

.PopupPrev
{
    opacity: .5;
    position: absolute;
    right: 91%;
    top: 50%;
    color:rgb(66, 65, 65);
    font-size: 22px;
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.356);
    padding: 5px 10px;
}

.PopupPrev:hover,
.PopupNext:hover,
.PopupClose:hover
{
    opacity: 1;
}

.PopupClose {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(153, 153, 153);
    font-size: 22px;
    cursor: pointer;
}

