.Wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    width: 270px;

    z-index: 1;
    box-shadow: 0 0 12px #00000034;

    overflow-x: hidden;
    overflow-y: scroll;
}

.Wrappers {
    border: none;

    padding: 16px;
}

.Input {
    margin: 0 0 16px;
    padding: 6px 16px;

    width: 100%;

    font-size: 14px;

    background: #ddd;

    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
}

.Input:focus {
    outline: none;

    background: #fffffa;
}

.Separator {
    margin: 8px 0;
    background: #ddd;
    height: 1px;
    width: 100%;
}


/* Mobile */
@media screen and (max-width: 767px) {
    .Wrapper {
        display: none;

        width: 100%;
    }
}