@import '../../../node_modules/@ibm/plex/css/ibm-plex.css';

body {
    margin: 0;
}

.StubWrapper {
    flex-grow: 2;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    justify-content: center;
    min-width: 300px;

    overflow-y: auto;
}


.Wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: stretch;

    width: 100%;
    height: 100vh;

    background: #fffffa;
    color: #1e1e24;

    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;

    overflow: hidden;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color:#1e1e2438;
}

::-webkit-scrollbar-thumb:hover {
    background: #1e1e248f;
}

.EmptyChat {
    align-self: center;
}

.LoadingScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000075;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LoaderText {
    font-size: 16px;
    z-index: 11;
    color: #fff;
}

/* Animation */

.LoaderWrapper {
    display: flex;

    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 10;
}

.Loader,
.Loader:after {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.Loader {
    margin: auto;
    position: relative;
    text-indent: -9999em;
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-left-color: #ffffff;
    transform: translateZ(0);
    animation: load 1.1s infinite linear;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Popup */
.PopupContainer {
    padding: 20px;
    width: 380px;
    height: 160px;
    display: grid;
    grid-template-areas: "u u c" "cont cont cont" "lh lv lv";
    grid-template-rows: 60px 35px 35px;
    grid-template-columns: 90px 270px 20px;
}

.PopupUserInfo {
    font-size: 18px;
    grid-area: u;
    align-self: baseline;
}

.PopupClose {
    color: #aaa;
    font-size: 18px;
    grid-area: c;
    align-self: baseline;
    cursor: pointer;
}

.PopupContent
{
    grid-area: cont;
    word-wrap: break-word;
}