.LastMessage {
    grid-area: m;

    margin: 0 0 0 16px;

    color: #aaa;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.LastMessageDate {
    grid-area: d;

    justify-self: end;
}

.UnreadCount {
    grid-area: c;
    justify-self: end;

    padding: 1px 6.5px 1px 6.5px;

    background-color: #104fd7;
    color: #fffffa;

    border-radius: 28px;
}