.LastMessage {
    grid-area: m;

    margin: 0 0 0 16px;

    color: #aaa;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.LastMessageDate {
    grid-area: d;

    justify-self: end;
}

.UnreadCount {
    grid-area: c;
    justify-self: end;

    padding: 1px 6.5px 1px 6.5px;

    background-color: #104fd7;
    color: #fffffa;

    border-radius: 28px;
}

.preloader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1a46a5;
    animation: spin 1s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #346ce7;
    animation: spin 3s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #8fb2ff;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {

        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}