.HeaderName
{
    border-bottom: 1px solid black;
    padding: 18px;
    font-size: 15px;
    color: white;
    background-color:  #6dc0c8;
}

.Header
{
    padding: 18px;
    font-size: 15px;
    color: white;
    background-color:  #6dc0c8;
    margin: 0;
}

.UserPhoto
{
    height: 220px;
    background-image: url('https://myduolife.com/images/img-profile.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.Page
{
    padding: 18px;
    font-size: 15px;
    color: white;
    background-color: #6dc0c8a2;
    height: 400px;
    font-size: 25px;
}
