.Wrapper {
    flex-grow: 2;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    justify-content: center;
    min-width: 300px;

    overflow-y: auto;
}

.EmptyChat {
    align-self: center;
}

.EmojiPicker
{
    position: absolute;
    top: 0;
    height: 0;
}

