.ContactList {
    width: 100%;
}

.Buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    margin: 16px 0;

    width: 100%;
}

.CancelButton,
.CreateButton {
    margin: 0 16px 0 0;
    padding: 12px 16px;

    text-decoration: none;
    user-select: none;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: 0;

    font-size: 15px;
    text-align: center;
}

.CancelButton:hover {
    color: #777;
}

.CreateButton {
    background: #555;
    color: #fffffe;

    border-radius: 32px;
}

.CancelButton:active {
    color: #03a9f4;
}

.CreateButton:active {
    background: #03a9f4;
}

.CreateButton:disabled {
    cursor: not-allowed;

    background: #f5f5f5;
    color: #bbb;
}
