.EntryField,
.EntryFieldText
{
    padding: 8px 16px;
    box-sizing: border-box;
    width: 100%;
}

.EntryField
{
    height: 8%;
    margin-top: 270px;
    /* position: absolute; */
    bottom: 0;
    background-color:  #6dc0c8;
}

input
{
    background: white;
}

.EntryFieldText
{
    border-radius: 4px;
    border: 1px solid gray;
    outline: none;
}