.Message {
    align-self: center;

    margin: 8px 0;
    padding: 8px 12px;

    word-wrap:break-word;

    background: #00000049;

    color: #fffffa;
    font-weight: 500;


    border-radius: 14px;
}
