.MessageDate
{
    margin-left: 35px;
    font-size: 20px;
    opacity: .6;
    margin-bottom: 10px;
}

.MessageAvatar
{
    width: 65px;
    height: 65px;
    margin: 8px 16px 8px;
}

.MessageItem
{
    display: flex;
    border-bottom: 1px solid aliceblue;
    height: 20%;
    width: 100%;
}

.MessageDescription
{
    margin-top: 8px;
    width: 100%;
    margin-right: 8px;
}

.MessageBlock
{
    margin-top: 8px;
    margin-right: 10px;
}

.MessageContent
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: .7;
}

.MessageAmount
{
    color: white;
    margin-left: 45px;
    display: inline-block;
    padding: 1px 6px;
    border: 1px solid #a0e075;;
    border-radius: 100%;
    background-color:#a0e075;
}

.MessageAuthor
{
    margin-bottom: 8px;
    font-weight: bold;
}

.MessageItem:hover
{
    background: #6dc0c85d;
    cursor: pointer;
    color: white;
    width: 100%;
}
