.Wrapper {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'a n c'
                         'a i c';

    align-items: center;

    padding: 12px 16px;

    width: 100%;

    font-size: 14px;

    box-sizing: border-box;

    cursor: pointer;
}

.Name {
    grid-area: n;

    margin: 0 8px 0 12px;
    font-weight: 600;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.Info {
    grid-area: i;

    margin: 0 0 0 16px;

    color: #aaa;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Checkbox {
    position: relative;

    grid-area: c;
    /* border-radius: 16px; */

    cursor: pointer;
}

.Checkbox input {
    position: absolute;
    opacity: 0;
}

.Checkbox span {
    position: absolute;
    top: -12px;
    left: -24px;
    height: 24px;
    width: 24px;
    background-color: #fffffa;

    border: 1px solid #aaa;
    border-radius: 50%;
}

.Checkbox:hover input ~ span {
    background: #eee;
}

.Checkbox input:checked ~ span {
    background: #aaa;
}

.Checkbox span::after {
    content: '';
    position: absolute;
    display: none;

    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fffffa;
}

.Checkbox input:checked ~ span::after {
    display: block;
}

.Wrapper:hover {
    background: #1e1e24;
}

.Wrapper:hover .Name {
    color: #fffffa;
}
