.Wrapper,
.WrapperNight {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    width: 270px;

    z-index: 1;
    box-shadow: 0 0 12px #00000034;

    overflow-x: hidden;
    overflow-y: scroll;
}

.WrapperNight {
    background: linear-gradient(#1e1e24, #1e1e24c4);
    color: white;
}

.Wrappers {
    border: none;
    display: flex;
    flex-wrap: wrap;
}

.TopRow,
.TopRowNight {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: #fffffa;
    box-shadow: 2px -2px 4px 2px inherit;
    padding: 24px 0 14px;
}

.TopRowNight
{
    box-shadow: 2px -2px 4px 2px rgb(112, 112, 112);
    background-color: rgb(112, 112, 112);
    color: rgb(185, 185, 185);
}


.Profile {
    margin-left: 10px;
    align-self: center;
    cursor: pointer;
}

.SearchForm {
    width: 170px;
    align-self: center;
}

.SearchInput {
    padding: 6px 16px;
    width: 100%;
    font-size: 14px;
    background: #ddd;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
}

.SearchInput:focus {
    outline: none;

    background: #fffffa;
}

.GlobalSearchSeparator {
    display: flex;

    margin: 8px 0;
    border-bottom: 2px solid #ddd;
    height: 26px;
    width: 100%;
}

.GlobalSearchHeader {
    display: block;

    margin: auto 16px;
    text-align: center;

    font-size: 14px;

    color: #757575;
}

.Loader,
.Loader:after {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.Loader {
    margin: 50px auto auto;
    position: relative;
    text-indent: -9999em;
    border: 4px solid rgba(119, 119, 119, 0.479);
    border-left-color: rgba(14, 13, 13, 0.479);
    transform: translateZ(0);
    animation: load 1.1s infinite linear;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Button {
    display: flex;
    padding: 0;
    color: #757575;
    text-decoration: none;
    user-select: none;
    background: transparent;
    outline: none;
    border: 0;
    align-self: center;
}

.CreateChatBtn:active {
    color: #03a9f4;
    transform: rotate(45deg);
    transition: transform .3s;
}

.NightThemeBtn,
.LightThemeBtn
{
    color: rgb(185, 185, 185);
    top: 24px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.NightThemeBtn
{
    color: rgb(238, 238, 44);
    animation: neonGlow 1.5s infinite;
}

@keyframes neonGlow {
    0% { text-shadow: 0 0 20px yellow; }
    30% { text-shadow: 0 0 50px yellow; }
    80% { text-shadow: 0 0 50px yellow; }
    100% { text-shadow: 0 0 20px yellow; }
}

.CreateChatActive{
    color: #03a9f4;
    transform: rotate(45deg);
    transition: transform .3s;
}

.CreateChatActive:active{
    color: #757575;
    transform: rotate(0);
    transition: transform .3s;
}

.CreateChatIcon{
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
}

.Width {
    width: 100%;
}

/* Mobile */
@media screen and (max-width: 767px) {
    .Wrapper {
        display: none;

        width: 100%;
    }
}