.Wrapper {
    display: flex;
}

.Send
{
    color: white;
    text-decoration: none;
    user-select: none;
    background: rgb(146, 165, 155);
    padding: .7em 1.5em;
    outline: none;
    border: 0;

}

.Send:hover
{
    background: #5579c7;
}

.Send:active
{
  background: #1250d4b0;
  box-shadow: 0 3px #1645aab0 inset;
}

.Input {
    padding: 10px 16px;
    width: 100%;

    font-size: 14px;

    background: #fffffa;

    border: none;
    box-sizing: border-box;
}

.Input:focus {
    outline: none;
}

