.Wrapper,
.WrapperNight
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.WrapperNight
{
    background: rgb(112, 112, 112);
}

.Input,
.InputNight
{
    padding: 15.5px 10px 16.5px;
    width: calc(100% - 4 * (2% + 18px));

    font-size: 14px;

    background: #fffffa;

    border: none;
    box-sizing: border-box;

}

::placeholder {
    color: rgb(199, 199, 199);
}


.Input:focus,
.InputNight:focus
{
    outline: none;
}


.Button,
.MicroButtonOff,
.MicroButtonOn {
    display: flex;

    margin: auto 16px auto 0;
    padding: 0;

    color: #474747;
    text-decoration: none;
    user-select: none;
    background: transparent;
    outline: none;
    border: 0;
    width: 2%;
}

.MicroButtonOn
{
    color: #03a9f4;
}

.MicroButtonOff
{
    color: #474747;
}

.InputNight
{
    color: white;
    background: rgb(112, 112, 112);
}

.Button:active
{
    color: #03a9f4;
}

.ImageButton {
    margin: 0 0 0 16px;
}