.Search
{
    border: none;
    width: 280px;
    padding: 5px;
    margin: 10px;
    background: rgb(212, 212, 212);
    border-radius: 4px;
}

.Search:focus
{
    background-color: white;
    outline-color: #6dc0c8;
}
