.Search
{
    border: none;
    background: rgba(212, 212, 212, 0.63);
}

input
{
    width: 100%;
    border: none;
    height: 40px;
    background: transparent;
}

.SearchInput:focus
{
    background-color: white;
    outline-color: #6dc0c8;
}
